$blue: #4679BD;
$app-container-padding: 1em;
$grey: #DDDDDD;
$black: #000000;
$panel-padding: 0;
$green: #53883E;
$app-header-list-margin: 90px;
$dashboard-widget-height-width: 250px;
$dashboard-widget-margin-right: 10px;
$app-container-width: 1334px;
$app-header-margin-bottom: 3px;
$app-container-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
$panel-header-height: 50px;
$border-radius: 5px;
$font-size-5em: 5em;
$light-blue: #156EC2;
$golden: #DBA126;
$bar-height: 30px;
$bar-width: 40px;
$white: #ffffff;
$panel-header-background: #EDEDED;
$bar-border-color: 2px solid rgb(206, 206, 206);
$app-container-background: #F9F9F9;
$button-color-blue: $blue;
@font-face {
    font-family: 'FontAwesome';
    src: url("/css/font-awesome/fonts/fontawesome-webfont.eot");
    src: url("/css/font-awesome/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/css/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("/css/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("/css/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: FontAwesome;
    content: "\f0c4";
}
.app-container {
    font-family: FontAwesome;
    padding: $app-container-padding;
    height: auto;
    width: $app-container-width;
    margin: 0 auto;
    border-radius: $border-radius;
    -webkit-box-shadow: $app-container-box-shadow;
    -moz-box-shadow: $app-container-box-shadow;
    box-shadow: $app-container-box-shadow;
    background-color: $app-container-background;
    .app-header-container {
        border: 1px solid $grey;
    }
}
.panel {
    border: 1px solid $grey;
    padding: $panel-padding;
    margin-bottom: 5px;
    height: auto;
}
.app-header {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: $app-header-margin-bottom;
    li {
        display: inline-block;
        width: 12%;
        text-align: center;
    }
}
.dashboard {
    padding: 5px;
    text-align: center;
    li {
        overflow: hidden;
    }
    li:last-of-type {
        margin: 0;
    }
    .dashboard-widget {
        border: 1px solid $green;
        height: $dashboard-widget-height-width;
        width: $dashboard-widget-height-width;
        display: inline-block;
        margin-right: $dashboard-widget-margin-right;
        -webkit-box-shadow: $app-container-box-shadow;
        -moz-box-shadow: $app-container-box-shadow;
        box-shadow: $app-container-box-shadow;
        position: relative;
        .piechart-container {
            margin-top: 10px;
            float: left;
            margin-left: 5px;
        }
        div h1 {
            margin-top: 0;
        }
        div .result {
            color: $black;
            margin-bottom: 30px;
            text-align: center;
        }
        p {
            margin: 5px;
            color: $green;
            font-weight: bolder;
            text-align: left;
        }
        .test {
            position: absolute;
            color: $white;
            top: 38px;
            left: 68px;
            font-weight: normal;
        }
        .maintainability {
            position: absolute;
            color: $white;
            top: 38px;
            left: 149px;
            font-weight: normal;
        }
        .security {
            position: absolute;
            color: $white;
            top: 150px;
            left: 67px;
            font-weight: normal;
        }
        .workmanship {
            position: absolute;
            color: $white;
            top: 149px;
            left: 146px;
            font-weight: normal;
        }
        .test-pass-container {
            margin-top: 60px;
            label {
                font-size: 40px;
            }
            p {
                margin-top: 0;
                display: inline-block;
                color: $black;
            }
        }
        .progress1 {
            text-align: left;
            margin: 35px 0 0 5px;
            .progress-bar-label {
                position: absolute;
                top: 200px;
                left: 75px;
                text-align: center;
                color: $black;
                p {
                    margin: 0;
                    color: $black;
                }
            }
        }
        .progress1 progress[value] {
            -webkit-appearance: none;
            appearance: none;
            width: 237px;
            height: 40px;
            position: relative;
        }
    }
}
.text-center {
    text-align: center;
}
.green-icon {
    color: $green;
    font-size: $font-size-5em;
}
.golden-icon {
    color: $golden;
    font-size: $font-size-5em;
}
.blue-icon {
    color: $light-blue;
    font-size: $font-size-5em;
}
.blue {
    color: $light-blue;
}
.icon-container {
    display: inline-block;
    h6 {
        margin: 0;
        font-size: 12px;
    }
}
.margin-top-laptop-icons {
    margin-top: 1.4em;
}
.timestamp {
    margin-top: 50px;
    font-size: 11px;
}
.panel-header {
    height: $panel-header-height;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 3px;
    background-color: $panel-header-background;
    li {
        display: inline-block;
        width: 12.5%;
        text-align: center;
        .bar1 {
            width: $bar-width;
            height: $bar-height;
            background-color: $green;
            border: $bar-border-color;
            margin: 0 auto;
        }
        .bar2 {
            width: $bar-width;
            height: $bar-height;
            background-color: $green;
            border: $bar-border-color;
            margin: 0 auto;
        }
        .bar3 {
            width: $bar-width;
            height: $bar-height;
            background-color: $green;
            border: $bar-border-color;
            margin: 0 auto;
        }
        .bar4 {
            width: $bar-width;
            height: $bar-height;
            background-color: $green;
            border: $bar-border-color;
            margin: 0 auto;
        }
        .time-started {
            font-size: 12px;
            font-weight: bolder;
        }
        p {
            font-size: 15px;
        }
    }
}
.bar {
    width: 40px;
    height: 30px;
    div {
        background-color: $grey;
        width: 40px;
        height: 30px;
    }
}
.vertical-align {
    display: flex;
    align-items: center;
}
.golden-color {
    color: $golden;
}
.button-color-blue {
    background-color: $button-color-blue;
    color: $white;
    height: 30px;
}
.accepted {
    color: $green;
    border: 2px solid $green;
    .changelist-build {
        text-align: left;
        margin-left: 5px;
    }
    .panel-header {
        border-bottom: 2px solid $green;
        background-color: #D1FE51;
        .icon {
            font-size: 25px;
        }
        .timestamp {
            font-weight: bolder;
        }
    }
    .dashboard .dashboard-widget:last-of-type {
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
