<!DOCTYPE html>
<html data-ng-app="TestAssignment">
<head>
    <title>Assignment&copy;</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="sass/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="sass/css/app.css">
    <link rel="stylesheet" href="node_modules/angular-chart.js/dist/angular-chart.css">
    <script src "node_modules/jquery/dist/cdn/jquery.min.js"></script> 
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-mocks/angular-mocks.js"></script>
    <script src="javascript/Chart.js/Chart.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="javascript/app/app.js"></script>
    <script src="javascript/app/factory.js"></script>
    <script src="javascript/app/controller.js"></script>
    <!--[if IE]><script src="excanvas.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="excanvas.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="es5-shim.js"></script><![endif]-->
</head>
<body>
    <div class="app-container">
        <div class="app-header-container">
            <ul class="app-header">
                <li>Changelist/Built</li>
                <li>Owner</li>
                <li>Time Started</li>
                <li>State</li>
                <li>Metrics</li>
                <li>Build</li>
                <li>Unit Test</li>
                <li>Functional Test</li>
            </ul>
        </div>
        <div data-ng-controller="AppController">
            <div data-ng-repeat="test in tests">
                <div class="panel" ng-class="test.state">
                    <ul class="panel-header vertical-align">
                        <li class="changelist-build">
                            <div>
<span class="fa font-size" ng-class="{'fa-laptop':test.type == 'build', 'fa-building-o':test.type == 'firewall'}" ></span>&nbsp;<a href="" ng-click=" setSelectedIndex($index); showBar = ! showBar;">{{test.name}}</a>
                            </div>
                        </li>
                        <li class="owner">
                            <div>
                                <label>{{test.owner}}</label>
                            </div>
                        </li>
                        <li>
                            <div class="time-started">
                                <label>{{test.timeStarted}}</label>
                            </div>
                        </li>
                        <li class="state">
                            <div>
                                <label>{{test.state}}</label>
                            </div>
                        </li>
                        <li class="bar-wrapper" ng-show="!showBar || ($index != selectedIndex)">
                            <div class="bar1">
                                <div class="progress-line"></div>
                            </div>
                        </li>
                        <li class="bar-wrapper" ng-show="!showBar || ($index != selectedIndex)">
                            <div class="bar2"></div>
                        </li>
                        <li class="bar-wrapper" ng-show="!showBar || ($index != selectedIndex)">
                            <div class="bar3"></div>
                        </li>
                        <li class="bar-wrapper" ng-show="!showBar || ($index != selectedIndex)">
                            <div class="bar4"></div>
                        </li>
                    </ul>
                    <ul class="dashboard" ng-show="(($index == selectedIndex) && (test.state == 'accepted' || test.state == 'rejected' || test.state == 'complete')) && showBar;">
                        <li class="dashboard-widget metrics-container">
                            <p>Metrics</p>
                            <div class="text-center">
                                <div>
                                    <div class="icon-container">
                                        <span class="fa fa-arrow-up green-icon"></span>
                                        <p class="test">{{test.matrics.tests}}</p>
                                        <h6>Test</h6>
                                    </div>
                                    <div class="icon-container">
                                        <span class="fa" ng-class="{'fa-arrow-down maroon-icon': test.state === 'rejected', 'fa-arrow-up green-icon': test.state === 'complete' || test.state === 'accepted'}"></span>
                                        <p class="maintainability">{{test.matrics.maintainability}}</p>
                                        <h6>Maintainability</h6>
                                    </div>
                                </div>
                                <div>
                                    <div class="icon-container">
                                        <span class="fa fa-arrow-right golden-icon"></span>
                                        <p class="security">{{test.matrics.security}}</p>
                                        <h6>Security</h6>
                                    </div>
                                    <div class="icon-container">
                                        <span class="fa fa-arrow-right golden-icon"></span>
                                        <p class="workmanship">{{test.matrics.workmanship}}</p>
                                        <h6>Workmanship</h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-widget build-container">
                            <p>Build</p>
                            <div class="text-center margin-top-laptop-icons">
                                <div class="icon-container">
                                    <span class="fa fa-laptop blue-icon"></span>
                                    <h6 class="blue">Debug</h6>
                                </div>
                                <div class="icon-container">
                                    <span class="fa fa-laptop blue-icon"></span>
                                    <h6 class="blue">Release</h6>
                                </div>
                            </div>
                            <footer class="timestamp text-center">{{test.buildTime}}</footer>
                        </li>
                        <li class="dashboard-widget unit-test-container">
                            <p>Unit Test</p>
                            <div class="piechart-container">
                                <canvas id="pie" width="150" height="150" class="chart chart-pie" data="unitData"
  labels="unitLabels" ng-show="$index == selectedIndex"></canvas>
                            </div>
                            <div class="test-pass-container">
                                <label>{{test.unitTest.passPercentage}}%</label>
                                <p>tests passed</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar">
                                    <div class="inner-progress-bar" style="width: {{test.unitTest.codeCovered}}%"></div>
                                    <div class="progress-bar-label text-center">
                                        <span>{{test.unitTest.codeCovered}}%</span>
                                        <p>code covered</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-widget functional-test-container">
                            <p>Functional Test</p>
                            <div class="piechart-container">
<canvas id="pie" width="150" height="150" class="chart chart-pie" data="functionaData" labels="functionalLabels" ng-show="$index == selectedIndex"></canvas> 
                            </div>
                            <div class="test-pass-container">
                                <label>{{test.functionalTest.passPercentage}}%</label>
                                <p>tests passed</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar">
                                <div class="inner-progress-bar" style="width: {{test.functionalTest.codeCovered}}%"></div>
                                    <div class="progress-bar-label text-center">
                                        <span>{{test.functionalTest.codeCovered}}%</span>
                                        <p>code covered</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-widget result-wrapper">
                            <span ng-if="test.state === 'accepted'" ng-include src="'partials/accepted.html'"></span>
                            <span ng-if="test.state === 'rejected'" ng-include src="'partials/rejected.html'"></span>
                            <span ng-if="test.state === 'complete'" ng-include src="'partials/complete.html'"></span>
                        </li>
                    </ul>
                </div>
            </div>   
        </div>
    </div>   
</body>
</html>